h1{
    text-align: center;
    background-color: aqua;
    color: aliceblue;
}
html{
    background-color:whitesmoke;
}
img{
    align-self:flex-end;
    margin-left: 475px;
}
#last
{
    background-color: cornflowerblue;
}
h2{
    color:darkgray;
}