h1{
    text-align: center;
    background-color: aqua;
    color: aliceblue;
}
html{
    background-color:whitesmoke;
}
#last
{
    background-color: cornflowerblue;
}
h2{
    color:darkgray;
}
