h1{
    text-align: center;
    background-color: black;
    color: aliceblue;
}
html{
    background-color:darkslategray;
}
#last
{
    background-color:dimgrey;
}
h2{
    color:black;
}
